@page "/community"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<PageTitle>The Community</PageTitle>

<section class="min-h-screen w-[75%]">
    <div class="flex flex-wrap gap-5">
        <TasksCard/>
        <TasksCard/>
        <TasksCard/>
        <TasksCard/>
        <TasksCard/>
        <TasksCard/>
    </div>
    
</section>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}