@inherits LayoutComponentBase

<TopBar />
<main class="bg-white py-[4rem] relative">
  
  <section class="bg-white flex">
    <SideBar />
    <div class="w-[20%] h-full bg-red-400"></div>
    
    
      <Dashboard />
    
  </section>
</main>

@code {
  
}