@inherits LayoutComponentBase
<TopBar />
<main class="bg-white pt-[5rem]">
    <section class="flex justify-between">
        <SideBar />
        <div class="p-5 rounded-3xl w-[20%]">
            
        </div>
        @Body
    </section>
</main>
