<PageTitle>Task Exchange | Dashboard</PageTitle>
@rendermode InteractiveAuto
<section class="mt-[3.8rem] w-[79%] px-4 bg-[#fcfcfc] rounded-tl-[20px]">
  
  <div class="w-full pt-5 px-4">
    <Tabs ActiveTab="@selectedTab" OnTabSelected="@HandleTabChanged" />
    @if (selectedTab == "DashOverview")
    {
      <DashOverview />
    }
    else if (selectedTab == "Community")
    {
      <Community />
    }
  </div>
</section>

@code {
  int currentCount = 0;

  private void IncrementCount()
  {
    Console.WriteLine("I hate blazor");
    currentCount++;
    Console.WriteLine(currentCount);
  }
  private string selectedTab = "DashOverview";

  private async Task HandleTabChanged(string tab)
  {
    Console.WriteLine($"Tab changed to: {tab}");
    selectedTab = tab;
    await InvokeAsync(StateHasChanged); // Ensure async rendering
  }
}