
<div class="p-5 rounded-3xl shadow-md bg-white w-[20%] fixed">
  <p class="text-sm">Explore the community</p>
  
  <ul class="my-4">
    <li class="my-3 text-sm"><a href="">My tasks</a></li>
    <li class="mb-3 text-sm"><a href="">Go to tasks</a></li>
    <li class="mb-3 text-sm"><a href="">Go to tasks</a></li>
    <li class="mb-3 text-sm"><a href="">Go to tasks</a></li>
  </ul>
</div>

@code {
    
}