
<div class="p-5 bg-white w-[20%] fixed h-full left-0">

  <ul class="my-4">
    <li class="my-10 text-sm bg-[#dbf5ff] px-4 py-2 rounded-xl"><a href="">My tasks</a></li>
    <li class="mb-10 text-sm"><a href="">Go to tasks</a></li>
    <li class="mb-10 text-sm"><a href="">Go to tasks</a></li>
    <li class="mb-10 text-sm"><a href="">Go to tasks</a></li>
  </ul>
</div>

@code {
    
}