
<div class="mx-auto flex gap-10 justify-center items-center mb-4 absolute bottom-0 left-1/2">
  <a href="" class="bg-gray-200 px-3 py-1 rounded-lg text-sm">Dashboard</a>
  <a href="" class="px-3 py-1 rounded-lg text-sm">Community</a>
</div>

@code {
  
}